html {
    background: linear-gradient(to left, #ffffff, #571010 50%, #fdfbde);
}

.wrapper {
    display: grid;
    grid-template-columns: repeat(12, [col-start] 1fr);
    gap: 20px;
}

.wrapper>* {
    grid-column: col-start / span 12;
}

.main-head {
    background-color: rgb(63, 2, 2);
    text-align: center;
    color: rgb(238, 238, 224);
}

.main-nav {
    background-color: rgb(238, 238, 224);
    font-family: 'Courier New', Courier, monospace;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.main-nav>ul {
    list-style: none;
}

.content {
    padding: 2%;
    font-family: 'Courier New', Courier, monospace;
    background-color: white;
}

.main-footer {
    font-weight: bold;
    text-align: center;
    color: rgb(238, 238, 224);
    background-color: rgb(63, 2, 2);
}

.main-footer>a {
    list-style: none;
    font-family: 'Courier New', Courier, monospace;
    color: rgb(238, 238, 224);
}

.bold-text {
    font-weight: bold;
}

@media only screen and (max-width: 1639px) {
    .main-nav {
        justify-items: center;
    }
}

@media only screen and (min-width: 1640px) {

    .main-nav {
        grid-column: col-start / span 2;
        grid-row: 2 / 4;
    }

    .content {
        grid-column: col-start 3 / span 10;
        grid-row: 2 / 4;
    }

    .main-footer {
        grid-column: col-start / span 12;
    }
}

.extra {
    color: #ff0000;
}

.mainimage {
    max-width: 25%;
    border: 10px solid rgb(63, 2, 2);
    border-radius: 10px;
    margin-left: 40%;
    margin-top: 10px;
}

.smallimg {
    max-width: 200px;
    border: 5px solid rgb(63, 2, 2);
    border-radius: 10px;
    margin-left: 5%;
    margin-top: 10px;

}

.imglist {
    list-style: none;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

@media only screen and (max-width: 600px) {
    .smallimg {
        max-width: 35px;
    }
}

@media only screen and (max-width: 900px) and (min-width: 601px) {
    .smallimg {
        max-width: 75px;
    }
}

@media only screen and (max-width: 1300px) and (min-width: 901px) {
    .smallimg {
        max-width: 125px;
    }
}

a:hover {
    color: #399a29;
}