/* background gradient*/
html {
    background: linear-gradient(to left, #ffffff, rgb(105, 57, 153) 50%, #fdfbde);
}

/* grid display setup*/
.wrapper {
    display: grid;
    grid-template-columns: repeat(12, [col-start] 1fr);
    gap: 20px;
}

.wrapper>* {
    margin: 0;
    grid-column: col-start / span 12;
}

/* styling*/
.main-head {
    font-family: orbitron;
    background-color: rgb(105, 57, 153);
    text-align: center;
    color: rgb(238, 238, 224);
}

.main-nav {
    background-color: rgb(209, 209, 204);
    font-family: 'Courier New', Courier, monospace;
}

.main-nav>ul {
    list-style: none;
    font-size: large;
}

.content {
    padding: 2%;
    font-family: 'Courier New', Courier, monospace;
    background-color: white;
}

.main-footer {
    font-weight: bold;
    text-align: center;
    color: rgb(238, 238, 224);
    background-color: rgb(105, 57, 153);
}

.main-footer>a {
    list-style: none;
    font-family: 'Courier New', Courier, monospace;
    color: rgb(238, 238, 224);
}

.bold-text {
    font-weight: bold;
}

/* middle grid display*/
@media only screen and (max-width: 1918px) and (min-width: 850px) {
    .main-nav {
        justify-content: space-evenly;
        text-align: center;
    }
    .main-nav li {
        display: inline-block;
        text-align: left;
        padding-left: 4%;
    }
    
}

/* large grid display*/
@media only screen and (min-width: 1919px) {

    .main-nav {
        grid-column: col-start / span 2;
        grid-row: 2 / 4;
        justify-content: space-evenly;
    }

    .content {
        grid-column: col-start 3 / span 10;
        grid-row: 2 / 4;
    }

    .main-footer {
        grid-column: col-start / span 12;
    }
}

.extra {
    color: #ff0000;
}

a:hover {
    color: #399a29;
}

/* image borders and styling*/
.mainimage {
    max-width: 25%;
    border: 10px solid rgb(63, 2, 2);
    border-radius: 10px;
    margin-left: 40%;
    margin-top: 10px;
}

.smallimg {
    max-width: 200px;
    border: 5px solid rgb(63, 2, 2);
    border-radius: 10px;
    margin-left: 5%;
    margin-top: 10px;

}

.smallimg2 {
    display: block;
    max-width: 200px;
    border: 5px solid rgb(63, 2, 2);
    border-radius: 10px;
    margin: auto;

}

.imglist {
    list-style: none;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

li {
    margin: 10px 0;
}

.gh {
    text-align: center;
}

@media only screen and (max-width: 600px) {
    .smallimg {
        max-width: 35px;
    }
}

@media only screen and (max-width: 900px) and (min-width: 601px) {
    .smallimg {
        max-width: 75px;
    }
}

@media only screen and (max-width: 1300px) and (min-width: 901px) {
    .smallimg {
        max-width: 125px;
    }
}